@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&family=Playfair+Display&display=swap');

.nameTienda {
    font-family: 'Jost', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.contenedor {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin: 0 auto;
    margin-top: 30px;
}

.tienda_info {
    font-family: 'Jost', sans-serif;
    height: 500px;
    width: 500px;
    background-color: #F5F0F4;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.3rem;
    color: #51555E;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: dotted;
}

.logo {
    height: 500px;
    width: 500px;
    border-radius: 1rem;
}

.publi {
    height: 700px;
    width: 500px;
    border-radius: 1rem;
}
