<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/inicio_cliente.css">
    <title>Document</title>
</head>
<body>
    <div class="container1">
        <div>
            <a href="admin/obtenerArticulos" class="acceso_administrador">Administración</a>
        </div>
        <div>
            <div id="mensaje_login">Usuario no identificado</div>
            <div class="idiomas">
                <a href="?idioma=es">Español</a>
                <a href="?idioma=en">Inglés</a>
            </div>
        </div>
    </div>
    <p class="nameTienda">Soft and Nice</p>
	
	<div class="enlaces">
		<a href="#" id="inicio">Inicio</a>
		<a href="#" id="Articulos">Articulos</a>
		<a href="#" id="registrarme">Registro</a>
		<a href="#" id="identificarme">Identificarme</a>
		<a href="#" id="carrito">Carrito</a>
		<a href="#" id="misPedidos">Ver mis pedidos</a>
		<a href="#" id="misDatos">Mis datos</a>
		<a href="#" id="logout">Cerrar sesión</a>	
	</div>

	<div id="contenedor">
	
	</div>
	
	<script src="librerias_js/jquery.js"></script>	
	<script src="librerias_js/mustache.js"></script>
	<script src="librerias_js/js.cookie.min.js"></script>
	<script src="javascript/globales.js"></script>
	<script src="javascript/carga_plantillas.js"></script>
	<script src="javascript/funciones_menu.js"></script>
	<script src="javascript/pasos_checkout.js"></script>
	<script src="javascript/validaciones.js"></script>
	
	<script>
	
	
	</script>

</body>
</html>