<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/inicio_cliente.css">
    <title>Document</title>
</head>
<body>
    <div class="container1">
        <div>
            <a href="admin/obtenerArticulos" class="acceso_administrador">Administration</a>
        </div>
        <div>
            <div id="mensaje_login">User not login</div>
            <div class="idiomas">
                <a href="?idioma=es">Spanish</a>
                <a href="?idioma=en">English</a>
            </div>
        </div>
    </div>
    <p class="nameTienda">Soft and Nice</p>
	
	<div class="enlaces">
		<a href="#" id="inicio">Home</a>
		<a href="#" id="Articulos">Stuff</a>
		<a href="#" id="registrarme">Sing up</a>
		<a href="#" id="identificarme">Log in</a>
		<a href="#" id="carrito">Cart</a>
		<a href="#" id="misPedidos">Orders</a>
		<a href="#" id="misDatos">My info</a>
		<a href="#" id="logout">Log out</a>	
	</div>

	<div id="contenedor">
	
	</div>
	
	<script src="librerias_js/jquery.js"></script>	
	<script src="librerias_js/mustache.js"></script>
	<script src="librerias_js/js.cookie.min.js"></script>
	<script src="javascript/globales.js"></script>
	<script src="javascript/carga_plantillas.js"></script>
	<script src="javascript/funciones_menu.js"></script>
	<script src="javascript/pasos_checkout.js"></script>
	<script src="javascript/validaciones.js"></script>
	
	<script>
	
	
	</script>

</body>
</html>